@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
#banner {
  height: 120vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#banner::after {
  content: '';
  background-image: url(../img/melt.png);
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 1;
  width: 100%;
  height: 150px;
}

#banner h1 {
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 50px;
  padding-left: 50px;
  color: white;
  position: absolute;
  top: 34%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#banner h4 {
  color: white;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 8px;
  position: absolute;
  left: 50%;
  top: 48%;
}

#banner h4 div {
  display: inline-block;
  width: 160px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: -180px;
}

#banner .scroll {
  cursor: pointer;
}

#banner .scroll span {
  position: absolute;
  left: 50%;
  bottom: 240px;
  width: 24px;
  height: 24px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
  -webkit-animation: arr-home 1.5s infinite;
          animation: arr-home 1.5s infinite;
}

@-webkit-keyframes arr-home {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes arr-home {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#banner .scroll p {
  color: white;
  position: absolute;
  left: 50%;
  bottom: 160px;
  -webkit-transform: translateX(-36%);
          transform: translateX(-36%);
  letter-spacing: 12px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.news-titles {
  position: relative;
}

#news {
  height: 90vh;
}

#news .news-title {
  text-align: center;
  color: #004884;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 5px;
  margin: 30px 0 40px;
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#news .cir3-home {
  display: inline-block;
  width: 160px;
  height: 90px;
  border: 2px solid #6a89b9;
  opacity: 0.3;
  border-radius: 0 0 80px 80px;
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

#news #news-sec {
  margin: 0 auto;
  width: 1200px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 180px 100px 0;
}

#news #news-sec .news-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 500px;
  margin: 0 20px;
  position: relative;
  height: 410px;
}

#news #news-sec .news-box .play, #news #news-sec .news-box .playImg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#news #news-sec .news-box .play {
  padding: 0 46px;
}

#news #news-sec .news-box:hover > .play {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

#news #news-sec .news-box:hover > .playImg {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

#news #news-sec .news-box .month {
  color: white;
  margin: 0 auto;
  width: 120px;
  background: #004884;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  margin-top: -30px;
}

#news #news-sec .news-box .month h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  padding-left: 3px;
}

#news #news-sec .news-box .month p {
  text-align: center;
  letter-spacing: 3px;
  padding-left: 3px;
  padding-bottom: 10px;
  color: white;
}

#news #news-sec .news-box img {
  width: 420px;
  height: 300px;
  position: absolute;
  top: 65px;
  left: 6px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#news #news-sec .news-box h6 {
  margin-top: 50px;
  color: #967754;
  font-size: 14px;
  letter-spacing: 3px;
  padding-left: 3px;
}

#news #news-sec .news-box h2 {
  font-size: 26px;
  font-weight: 100;
  color: #004884;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

#news #news-sec .news-box p {
  color: #6a89b9;
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  padding-bottom: 80px;
}

#news #news-sec .news-box a {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  border: 1px solid #004884;
  color: #004884;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  bottom: -22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#news #news-sec .news-box a:hover {
  background-color: #004884;
  color: white;
  z-index: 1;
}

#news {
  position: relative;
}

#news .cir2-home {
  width: 400px;
  height: 400px;
  background-color: #004884;
  border-radius: 50%;
  position: absolute;
  bottom: -180px;
  left: -140px;
  z-index: -1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#news .cirs2-home img {
  width: 260px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC";
}

#navbar {
  display: none;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 3;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

#navbar .link {
  float: left;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: calc(25% - 90px);
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

#navbar .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#navbar .link ul li {
  overflow: hidden;
}

#navbar .link ul li .en,
#navbar .link ul li .ch {
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#navbar .link ul li .en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 300;
}

#navbar .link ul li .ch {
  position: absolute;
  top: 22px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 600;
}

#navbar .link ul li a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: white;
}

#navbar .link ul li a:hover .en {
  opacity: 0;
}

#navbar .link ul li a:hover .ch {
  opacity: 1;
  z-index: 2;
}

#navbar .brand a {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-image: url(../img/logo_0.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .brand a:hover {
  opacity: 0.75;
}

#navbar .icon {
  float: right;
  padding-right: 70px;
  position: absolute;
  top: 44%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-filter: invert(99%) sepia(99%) saturate(5%) hue-rotate(300deg) brightness(108%) contrast(99%);
          filter: invert(99%) sepia(99%) saturate(5%) hue-rotate(300deg) brightness(108%) contrast(99%);
}

#navbar .icon img {
  width: 20px;
  margin-top: 16px;
  margin-bottom: 6px;
}

#navbar .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .icon a:hover {
  opacity: 0.4;
}

#navbar .order {
  float: right;
  position: absolute;
  right: 11%;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#navbar .order a {
  padding: 0 10px;
}

#navbar .order a img {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-filter: invert(99%) sepia(99%) saturate(5%) hue-rotate(300deg) brightness(108%) contrast(99%);
          filter: invert(99%) sepia(99%) saturate(5%) hue-rotate(300deg) brightness(108%) contrast(99%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar .order a img:hover {
  opacity: 0.5;
}

#navbar.scrolled {
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
}

#navbar-sub {
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 5px 5vw;
  z-index: 2;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

#navbar-sub .link {
  float: left;
  padding-top: 22px;
  position: absolute;
  top: 0;
  left: calc(25% - 90px);
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

@media screen and (max-width: 1023px) {
  #navbar-sub .link {
    display: none;
  }
}

#navbar-sub .link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  #navbar-sub .link ul {
    padding-left: 100px;
    letter-spacing: 0;
  }
}

#navbar-sub .link ul li {
  overflow: hidden;
}

#navbar-sub .link ul li .en,
#navbar-sub .link ul li .ch {
  position: relative;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#navbar-sub .link ul li .en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 300;
}

#navbar-sub .link ul li .ch {
  position: absolute;
  top: 22px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 5px;
  font-weight: 600;
}

#navbar-sub .link ul li a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px;
  color: #004884;
}

#navbar-sub .link ul li a:hover .en {
  opacity: 0;
}

#navbar-sub .link ul li a:hover .ch {
  opacity: 1;
  z-index: 2;
}

#navbar-sub .brand a {
  width: 75px;
  height: 75px;
  display: inline-block;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar-sub .brand a:hover {
  opacity: 0.75;
}

@media screen and (max-width: 1023px) {
  #navbar-sub .brand a {
    width: 65px;
    height: 65px;
  }
}

#navbar-sub .icon {
  float: right;
  padding-right: 70px;
  position: absolute;
  right: 0;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#navbar-sub .icon img {
  width: 20px;
}

#navbar-sub .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar-sub .icon a:hover {
  opacity: 0.4;
}

@media screen and (max-width: 1023px) {
  #navbar-sub .icon {
    padding-right: 30px;
  }
  #navbar-sub .icon a {
    padding: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  #navbar-sub .icon {
    padding-right: 10px;
  }
}

#navbar-sub .order {
  float: right;
  position: absolute;
  right: 11%;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#navbar-sub .order a {
  padding: 0 10px;
}

#navbar-sub .order a img {
  display: inline-block;
  width: 22px;
  height: 22px;
  -webkit-filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
          filter: invert(55%) sepia(9%) saturate(1966%) hue-rotate(177deg) brightness(95%) contrast(81%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#navbar-sub .order a img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  #navbar-sub .order {
    padding-right: 44px;
  }
}

@media screen and (max-width: 1023px) {
  #navbar-sub .order {
    padding-right: 20px;
  }
  #navbar-sub .order a {
    padding: 0 5px;
  }
}

@media screen and (max-width: 767px) {
  #navbar-sub .order {
    display: none;
  }
}

#navbar-sub .menu-btn {
  display: block;
  width: 24px;
  margin: 1em;
  position: absolute;
  top: 12%;
  left: 10px;
}

#navbar-sub .menu-btn:before, #navbar-sub .menu-btn:after {
  background-color: #004884;
  content: '';
  display: block;
  height: 2px;
}

#navbar-sub .menu-btn:before {
  -webkit-box-shadow: 0 8px 0 #004884;
          box-shadow: 0 8px 0 #004884;
  margin-bottom: 14px;
}

@media screen and (min-width: 1024px) {
  #navbar-sub .menu-btn {
    display: none;
  }
}

.about {
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 100px 0;
}

.about #about-left {
  background-image: url(../img/about_home.JPG);
  background-size: cover;
  border-radius: 10px;
  margin-left: 100px;
}

.about #about-right {
  padding: 90px 50px 0;
  margin: 0 100px 0 50px;
}

.about #about-right h1 {
  color: #004884;
  font-weight: 600;
}

.about #about-right p {
  color: #6a89b9;
  padding: 20px 0 30px;
  line-height: 32px;
}

.about #about-right a {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #004884;
  color: #004884;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
}

.about #about-right a:hover {
  background-color: #004884;
  color: white;
}

#about {
  position: relative;
}

#about .cir1-home {
  width: 400px;
  height: 400px;
  background-color: #004884;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: -180px;
  z-index: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#about .cirs1-home img {
  width: 260px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: -10px;
  left: 30px;
  z-index: 2;
}

.dessert {
  width: 100vw;
  height: 130vh;
  background-image: url(../img/pick-v4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.dessert::before {
  content: '';
  background-image: url(../img/melt2.png);
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  left: 0;
  top: -5px;
  z-index: 1;
  width: 100%;
  height: 150px;
}

.dessert::after {
  content: '';
  background-image: url(../img/melt.png);
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: -30px;
  z-index: 1;
  width: 100%;
  height: 150px;
}

.dessert .textbg-home {
  width: 100%;
  height: 300px;
  background-image: url(../img/text-home.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-74%);
          transform: translateY(-74%);
}

.mask-dark {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#carouselExampleCaptions {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-74%);
          transform: translateY(-74%);
}

#carouselExampleCaptions img {
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

#carouselExampleCaptions .carousel-indicators li {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #004884;
  margin: 0 14px -20px;
}

.text-homes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  text-align: center;
  position: absolute;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text-homes .text-home {
  width: 260px;
  color: #004884;
}

.text-homes .text-home h6 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-left: 5px;
}

.text-homes .text-home p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  opacity: 0.8;
}

/* 頁尾 */
footer {
  padding: 30px 0 5px;
  background-color: #fbf7f0;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

footer .footer-logo {
  width: 300px;
  height: 70px;
  display: inline-block;
  background-image: url(../img/LTlogo-full.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
  text-decoration: none;
}

footer .footer-logo:hover {
  opacity: 0.4;
}

footer .footer-block h4 {
  color: #004884;
  line-height: 17px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-left: 3px;
}

footer .icon img {
  width: 28px;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 6px;
}

footer .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .icon a:hover {
  opacity: 0.4;
}

footer hr {
  width: 100%;
  margin: 10px auto -10px;
}

footer p {
  color: #004884;
  font-size: 14px;
  margin: 20px 0 5px;
}

#footer-sub {
  padding: 30px 0 5px;
  background-color: #fbf7f0;
  margin-top: 50px;
  text-align: center;
  position: relative;
}

#footer-sub .footer-block h4 {
  color: #004884;
  line-height: 25px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-left: 3px;
}

#footer-sub .icon img {
  width: 28px;
  display: inline-block;
  margin-top: 20px;
}

#footer-sub .icon a {
  display: inline-block;
  padding: 0 10px 0;
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#footer-sub .icon a:hover {
  opacity: 0.4;
}

#footer-sub hr {
  width: 100%;
  margin: 10px auto -10px;
  opacity: 0.3;
}

#footer-sub p {
  color: #004884;
  font-size: 14px;
  margin: 20px 0 5px;
}

.cir1 {
  width: 300px;
  height: 300px;
  border: 6px solid #004884;
  opacity: 0.3;
  border-radius: 50%;
  position: absolute;
  top: 260px;
  right: -90px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .cir1 {
    width: 240px;
    height: 240px;
    top: 280px;
    right: -80px;
  }
}

.cir2 {
  width: 450px;
  height: 450px;
  opacity: 0.3;
  border: 8px solid #004884;
  border-radius: 50%;
  position: absolute;
  top: 780px;
  left: -100px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .cir2 {
    width: 350px;
    height: 350px;
    top: 1130px;
    background-color: #004884;
    opacity: 0.3;
  }
}

.backToTop {
  display: inline-block;
  width: 70px;
  height: 50px;
  background-color: #004884;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: -20px;
  bottom: 330px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backToTop:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.backToTop .backText {
  color: white;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 3px;
  padding-right: 9px;
}

.backToTop .backArr {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 46%;
  right: 5px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: #fff;
  /*   border: 1px solid #000; */
}

.img {
  width: 56px;
  height: 56px;
  background-image: url("../img/lt.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.loader {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100px;
  width: 150px;
  /*   border: 1px solid blue; */
}

.loader span {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  border-radius: 300px;
  /*    display: flex; */
  /*    justify-content: center; */
  /*    align-items: center; */
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.loader span:nth-child(1) {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1px solid #004884;
  -webkit-animation: load1 1s, move 1.2s 1s;
          animation: load1 1s, move 1.2s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader span:nth-child(2) {
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border: 1px solid #004884;
  -webkit-animation: load3 1s, move1 1.2s 1s;
          animation: load3 1s, move1 1.2s 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes load1 {
  0% {
    left: 50%;
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 60px;
    height: 60px;
  }
  60% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  100% {
    left: -30px;
    width: 60px;
    height: 60px;
  }
}

@keyframes load1 {
  0% {
    left: 50%;
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 60px;
    height: 60px;
  }
  60% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  100% {
    left: -30px;
    width: 60px;
    height: 60px;
  }
}

@-webkit-keyframes load3 {
  0% {
    right: 50%;
    /*     transform: translate(50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 60px;
    height: 60px;
  }
  60% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  100% {
    right: -30px;
    width: 60px;
    height: 60px;
  }
}

@keyframes load3 {
  0% {
    right: 50%;
    /*     transform: translate(50%,-50%); */
    width: 1px;
    height: 1px;
    background-color: #004884;
  }
  20% {
    width: 10px;
    height: 5px;
  }
  40% {
    width: 60px;
    height: 60px;
  }
  60% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 60px;
  }
  100% {
    right: -30px;
    width: 60px;
    height: 60px;
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(70px, -28px);
            transform: translate(70px, -28px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(70px, -28px);
            transform: translate(70px, -28px);
  }
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  10% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  50% {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  100% {
    -webkit-transform: translate(-72px, -30px);
            transform: translate(-72px, -30px);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(0, -40px);
            transform: translate(0, -40px);
  }
  10% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  50% {
    -webkit-transform: translate(0, -80px);
            transform: translate(0, -80px);
  }
  100% {
    -webkit-transform: translate(-72px, -30px);
            transform: translate(-72px, -30px);
  }
}

#wrapper {
  display: none;
}

.backToTop-sub {
  display: inline-block;
  width: 70px;
  height: 50px;
  background-color: #004884;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  position: absolute;
  right: -20px;
  bottom: 230px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backToTop-sub:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.backToTop-sub .backText {
  color: white;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 3px;
  padding-right: 9px;
}

.backToTop-sub .backArr {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 46%;
  right: 5px;
}

#wrapper-sub {
  overflow: hidden;
}

.title {
  text-align: center;
  position: relative;
}

.title img {
  width: 60px;
  height: 40px;
  margin: 30px 10px 0;
}

@media screen and (max-width: 767px) {
  .title img {
    width: 30px;
    height: 20px;
    margin: 30px 10px 0;
  }
}

.title h1 {
  display: inline-block;
  vertical-align: 40%;
  color: #004884;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .title h1 {
    font-size: 18px;
  }
}

#about-banner img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 70px;
}

@media screen and (min-width: 1024px) {
  #about-banner #about-desktop {
    display: inline;
  }
}

@media screen and (max-width: 1023px) {
  #about-banner #about-desktop {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #about-banner #about-desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #about-banner #about-ipad {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #about-banner #about-ipad {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  #about-banner #about-ipad {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #about-banner #about-phone {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #about-banner #about-phone {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #about-banner #about-phone {
    display: inline;
  }
}

#about-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  #about-containter {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  #about-containter {
    display: inline;
  }
}

#about-containter #about-pic img {
  margin: 50px 100px;
  height: 500px;
  border-radius: 15px;
}

@media screen and (max-width: 1023px) {
  #about-containter #about-pic img {
    margin: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-pic img {
    margin: 30px auto;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 1024px) {
  #about-containter #about-text {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 1023px) {
  #about-containter #about-text {
    margin: 50px 100px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text {
    margin: 0px 50px 30px;
  }
}

#about-containter #about-text h1 {
  letter-spacing: 4px;
  padding-left: 4px;
  padding-top: 80px;
  font-size: 26pt;
  color: #004884;
}

@media screen and (max-width: 1023px) {
  #about-containter #about-text h1 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text h1 {
    padding-top: 0px;
    font-size: 20pt;
  }
}

#about-containter #about-text p {
  font-size: 12pt;
  padding-right: 100px;
  color: #556f87;
}

@media screen and (max-width: 1023px) {
  #about-containter #about-text p {
    padding-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  #about-containter #about-text p {
    font-size: 10pt;
  }
}

#container {
  position: relative;
}

#container:hover #box {
  -webkit-filter: brightness(0.4);
}

#container #content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  #container #content-box {
    display: inline;
  }
}

#container #content-box .online-shop {
  color: white;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

#container #content-box .online-shop h2 {
  padding: 10px;
}

#container #content-box .online-shop p {
  padding: 5px;
  padding-bottom: 25px;
}

#container #content-box .online-shop img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
          filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
  width: 60px;
}

#container #content-box .box-shop {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#container #content-box .box-shop:hover {
  background: #ffffff;
  color: #004884;
}

#container .message {
  color: white;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

#container .message img {
  -webkit-filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
          filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
  width: 50px;
}

#container .message h2 {
  text-align: center;
  padding: 10px;
}

#container .message p {
  text-align: center;
  padding: 5px 150px;
}

@media screen and (max-width: 1023px) {
  #container .message p {
    padding: 5px 50px;
  }
}

@media screen and (max-width: 767px) {
  #container .message p {
    padding: 5px 30px;
    font-size: 14px;
    line-height: 25px;
  }
}

#box {
  background-image: url(../img/about/box2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -50px;
  height: 400px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 767px) {
  #box {
    height: 700px;
    background-position-y: 0px;
    background-position: center;
  }
}

#info-containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023px) {
  #info-containter {
    display: inline;
  }
}

#info-containter #info {
  margin: 0px 100px;
  padding: 120px 100px;
}

@media screen and (max-width: 1023px) {
  #info-containter #info {
    margin: 0px 50px;
    padding: 50px 150px;
  }
}

@media screen and (max-width: 767px) {
  #info-containter #info {
    padding: 50px 50px;
    margin: auto;
  }
}

#info-containter #info h1 {
  font-size: 24pt;
  color: #004884;
  letter-spacing: 4px;
  padding-left: 4px;
}

@media screen and (max-width: 1023px) {
  #info-containter #info h1 {
    font-size: 20pt;
  }
}

#info-containter #info p {
  color: #556f87;
}

@media screen and (max-width: 1023px) {
  #info-containter #info p {
    font-size: 12pt;
  }
}

#info-containter #map img {
  width: 500px;
  margin: 100px 130px;
  border-radius: 15px;
}

@media screen and (max-width: 1023px) {
  #info-containter #map img {
    margin: 50px 90px;
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  #info-containter #map img {
    width: 100%;
    margin: 50px auto;
  }
}

.contact-banner {
  width: 100%;
  height: 300px;
  margin-top: 70px;
  background-image: url(../img/contact/bannercontact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .contact-banner {
    background-position: right;
  }
}

@media screen and (max-width: 767px) {
  .contact-banner {
    background-position: left;
  }
}

#card {
  width: 1000px;
  height: 500px;
  margin: 50px auto 120px;
  background: white;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1023px) {
  #card {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  #card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;
  }
}

#card .left {
  background-color: #6a89b9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  #card .left {
    border-radius: 0;
  }
}

#card .left .logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20%;
      grid-template-columns: 10% 20%;
}

@media screen and (max-width: 767px) {
  #card .left .logo {
    display: none;
  }
}

#card .left .logo .circle1 {
  width: 25px;
  height: 25px;
  background-color: #004884;
  border-radius: 50%;
  position: relative;
  top: 35px;
  left: 28px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  #card .left .logo .circle1 {
    width: 20px;
    height: 20px;
  }
}

#card .left .logo .circle2 {
  width: 25px;
  height: 25px;
  background: #004884;
  opacity: 0.5;
  border-radius: 50%;
  position: relative;
  top: 35px;
  left: 0;
}

@media screen and (max-width: 1023px) {
  #card .left .logo .circle2 {
    width: 20px;
    height: 20px;
    left: 8px;
  }
}

#card .left .logo h4 {
  display: inline-block;
  color: #004884;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-top: 6px;
  padding-left: 80px;
}

@media screen and (max-width: 1023px) {
  #card .left .logo h4 {
    padding-top: 8px;
    padding-left: 74px;
  }
}

#card .left h1 {
  display: inline-block;
  color: white;
  text-align: center;
  letter-spacing: 10px;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  #card .left h1 {
    text-align: center;
  }
}

#card .left hr {
  border: none;
  width: 50px;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 60%;
  right: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  #card .left hr {
    top: 70%;
    right: 18%;
  }
}

#card .left .card-rect {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #6a89b9;
  position: absolute;
  top: 50%;
  right: -6%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#card .right #form {
  width: 100%;
  margin-left: 100px;
  margin-top: 20px;
  color: #004884;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-left: 3px;
}

#card .right #form ::-webkit-input-placeholder {
  color: #6a89b9;
  font-size: 16px;
}

#card .right #form :-ms-input-placeholder {
  color: #6a89b9;
  font-size: 16px;
}

#card .right #form ::-ms-input-placeholder {
  color: #6a89b9;
  font-size: 16px;
}

#card .right #form ::placeholder {
  color: #6a89b9;
  font-size: 16px;
}

@media screen and (max-width: 1023px) {
  #card .right #form {
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  #card .right #form {
    margin-left: 50px;
    height: 240px;
  }
}

#card .right #form input[type=name], #card .right #form input[type=email] {
  display: block;
  width: 65%;
  margin: 10px 0 25px;
  text-decoration: none;
  background: none;
  border: 1px solid #6a89b9;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  padding-bottom: 8px;
  font-size: 16px;
  outline: 0;
  color: #6a89b9;
}

#card .right textarea {
  display: block;
  border: 1px solid #6a89b9;
  border-radius: 5px;
  color: #6a89b9;
  font-size: 16px;
  margin: 10px 0 25px;
  padding: 8px 10px;
}

@media screen and (max-width: 1023px) {
  #card .right textarea {
    width: 270px;
  }
}

#card .right .btn {
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 16px;
  background-color: white;
  color: #004884;
  border: 1px solid #004884;
  border-radius: 5px;
  letter-spacing: 5px;
  padding-left: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#card .right .btn:hover {
  background-color: #004884;
  color: white;
  letter-spacing: 5px;
  padding-left: 35px;
}
/*# sourceMappingURL=style.css.map */